# Maven target directories
target/
*/target/

# Maven build files
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# IDE files
.idea/
*.iml
*.ipr
*.iws
*.classpath
*.project
*.settings/
.vscode/
*.sublime-workspace

# Logs
*.log
log/
logs/